{% extends "AuthBundle::layout.html.twig" %}

{%block extra_css%}
{% stylesheets "@SalesBundle/Resources/public/css/invoice.css" %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<style>
address {
    margin-bottom: 5px !important;
	}
</style>
{% endblock %}

{%block page_content%} 
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Produits <small> Liste des produits</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Vente</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('admin_sales_products') }}">Produits</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">Liste Produit</a>
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="invoice">
        <div class="row">
            <div class="col-xs-6" style="margin-top: 7.5%;">
				<img src="{{ asset('images/logo_labo.png') }}" alt="" width="100%" />
            </div>
            <div class="col-xs-6 invoice-payment">
                <div class="well">
                    <address>
                        <strong>Caremed</strong><br/>
                        Rue Mohamed ben Hbib karma<br/>
                        Nabeul 8000<br/>
                        Tél:(216) 72 287 588<br/>
						Fax: (216) 72 287 499
						</address>
                    <address>
                        <strong>Email</strong><br/>
                            labo@caremed.com.tn
                    </address>
					<address>
                        <strong>Site web</strong><br/>
                            http://www.caremed.com.tn
                    </address>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                Produit
                            </th>
                            <th>
                                Référence
                            </th>
                            <th class="hidden-480">
                                Prix HT
                            </th>
                            <th class="hidden-480">
                                TVA
                            </th>
                            <th class="hidden-480">
                                Prix TTC
                            </th>
                        </tr>
                    </thead>
                    <tbody>
					{% for item in data %}
					<tr>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.sku }}
                        </td>
						<td width="120">
                            {{ item.price }} TND
                        </td>
						<td width="80">
                            {{ item.tax }}%
                        </td>
						<td width="120">
                            {% if item.useTax == 1 %} {{ (item.price * (1+(item.tax/100))) |round(3) | number_format( 3, '.', ' ') }}{% else %} {{ item.price }} {% endif %} TND
                        </td>
						</tr>
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
		<div class="row">
            <div class="col-xs-4">
                
            </div>
            <div class="col-xs-4  invoice-block">
               
            </div>
            <div class="col-xs-4 invoice-block">
				<a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
					Imprimer <i class="fa fa-print"></i>
				</a>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->		
{% endblock %}

{%block extra_js%} 

{% endblock %}
